VITE_API_URL=http://127.0.0.1:8006
VITE_WEB_PUSH_PUBLIC_KEY=cole_aqui_a_chave_publica_vapid
VITE_GOOGLE_CLIENT_ID=cole_aqui_o_client_id_do_oauth_web_app.apps.googleusercontent.com
VITE_GOOGLE_MAPS_API_KEY=cole_aqui_a_chave_do_google_maps
