VITE_API_URL=https://sua-api.onrender.com
VITE_SUPABASE_URL=https://qbqqfkvvbvsdpwsajkha.supabase.co
VITE_SUPABASE_ANON_KEY=cole_aqui_a_anon_key_publica
VITE_WEB_PUSH_PUBLIC_KEY=sua_chave_publica_vapid
VITE_GOOGLE_CLIENT_ID=seu_client_id_google.apps.googleusercontent.com
VITE_GOOGLE_MAPS_API_KEY=sua_chave_google_maps
